---
import AboutSection from "@components/about-section.astro";
import ContactSection from "@components/contact-section.astro";
import Container from "@components/container.astro";
import CoralSection from "@components/coral-section.astro";
import Hero from "@components/hero.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="" enableScrollSnap={true}>
  <Container>
     <div class="snap-section">
      <Hero />
    </div>

    <div class="snap-section">
      <CoralSection />
    </div>

    <div class="snap-section">
      <AboutSection />
    </div>

    <div class="snap-section">
      <ContactSection />
    </div>
  </Container>

</Layout>
