---
// import Link from "@components/ui/link.astro";
// import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  // {
  //   title: "Features",
  //   path: "#",
  //   children: [
  //     { title: "Action", path: "/" },
  //     { title: "Another action", path: "#" },
  //     { title: "Dropdown Submenu", path: "#" },
  //     { title: "404 Page", path: "/404" },
  //   ],
  // },
  // {
  //   title: "Pricing",
  //   path: "/pricing",
  // },
  // {
  //   title: "Coral",
  //   path: "/coral",
  // },
  {
    title: "Coral",
    path: "/#features",
  },
  {
    title: "Contact",
    path: "/#contact",
  },
  {
    title: "Blog",
    path: "/blog",
  },
  // {
  //   title: "Pro Version",
  //   badge: true,
  //   path: "https://astroship-pro.web3templates.com/",
  // },
];
---

<div class="sticky top-0 z-50 mx-auto px-5 bg-linear-to-br from-purple-50/95 to-purple-100/95 backdrop-blur-sm shadow-sm">
  <header class="flex flex-col lg:flex-row justify-between items-center py-1">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg"
          >
          <img src="/logo_no_dual.png"  width="75" height="75" alt="Dualistic Logo"/>
          <!-- <span class="font-bold text-slate-800">Astro</span><span
            class="text-slate-500">ship</span
          > -->
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-8 h-8 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-white-400 hover:text-yellow-900">
                      <span> {item.title}</span>
                    </a>
                  </li>
                )}
              
              </>
            ))
          }
        </ul>
        <!-- <div class="lg:hidden flex items-center mt-3 gap-4">
          <Link href="#" style="muted" block size="md">Log in</Link>
          <Link href="#" size="md" block>Sign up</Link>
        </div> -->
      </MenuItems>
    </Astronav>
    <!-- <div>
      <div class="hidden lg:flex items-center gap-4">
        <a href="#">Log in</a>
        <Link href="#" size="md">Sign up</Link>
      </div>
    </div> -->
  </header>
</div>
