---
import Sectionhead from "@components/sectionhead.astro";
import Contactform from "@components/contactform.astro";
import { Icon } from "astro-icon/components";
---

<section>
  <Sectionhead>
    <Fragment slot="title">Contact</Fragment>
    <Fragment slot="desc">We are here to help.</Fragment>
  </Sectionhead>

  <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-8 md:mt-12">
    <div>
      <!-- <h2 class="text-center font-bold text-3xl text-gray-800">Contact Dualistic</h2> -->
      <!-- <p class="text-justify text-lg leading-relaxed text-slate-500 mt-3">
        Have something to say? We are here to help. Fill up the form or send
        email or call phone.
      </p> -->
      <div class="mt-5">
        <div class="flex items-center mt-2 space-x-2 text-gray-600">
          <Icon class="text-gray-400 w-6 h-6" name="uil:map-marker" />
          <span class="text-lg"> via Crispi 56, 34126 Trieste (Italy) </span>
        </div>
        <div class="flex items-center mt-2 space-x-2 text-gray-600">
          <Icon class="text-gray-400 w-6 h-6" name="uil:envelope" />
          <a class="text-lg" href="mailto:info@dualistic.it">info@dualistic.it</a>
        </div>
        <div class="flex items-center mt-2 space-x-2 text-gray-600">
          <Icon class="text-gray-400 w-6 h-6" name="uil:phone" />
          <a class="text-lg" href="tel:+39 040 9719258">+39 040 9719258</a>
        </div>
      </div>
      <br />
      <div class="flex items-center mt-2 space-x-2 text-gray-600">
        <Icon class="text-gray-400 w-6 h-6" name="uil:linkedin" />
        <a class="text-lg" href="https://www.linkedin.com/in/giuseppe-piero-brandino-8285068a/">
          Giseppe Piero Brandino - CEO
        </a>
      </div>
    </div>
    <div>
      <Contactform />
    </div>
  </div>
</section>