---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Simplicity and Wellbeing-Centric Approach",
    description:
      "Coral is founded on the principles of simplicity and workplace wellbeing. By prioritizing ease-of-use and human-centricity, \
       Coral aims to revolutionize Digital Twin creation and management, ensuring that users can use the platform effortlessly.",
    icon: "bx:bxs-face", 
  },
  {
    title: "Next-Generation Platform",
    description:
      "Coral is here to be the next-generation platform for Digital Twin creation and management.\
       Coral's design revolves around concepts such as ease-of-use and modularity to empower industrial organizations \
       to tackle future challenges effectively",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Integration of Technologies",
    description:
      " Coral integrates IoT, simulations, AI, data management, HPC, and visualization. \
       This holistic approach ensures the access to a digital replica with \
       crucial aspects for effective decision-making and management. ",
    icon: "bx:bxs-data",
  },
  {
    title: "Orchestrated by CoralCore",
    description:
      "CoralCore is the orchestrator, seamlessly bringing together various components and technologies.\
       This central component ensures that Coral operates efficiently and delivers an user experience based on block-based \
       and no-code principles",
    icon: "bx:bxs-bot",
  },
  {
    title: "Modularity and Extensibility",
    description:
      "All components within Coral are designed to be modular and easily extensible. \
      This design approach allows for flexibility in customization and adaptation to specific organizational needs",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Widely Adopted Standards",
    description:
      "Coral adheres to widely adopted standards, facilitating smooth integration with existing software environments. \
      This adherence ensures compatibility and interoperability, making Coral a practical choice for industrial organizations ",
    icon: "bx:bx-check", 
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Coral Digital Twin platform
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Coral is our digital twin creation and management platform. 
    Its holistic design encompasses and connects all the enabling technologies, 
    from IoT, to simulations, from AI, to data management, from HPC, to visualization.  
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
