---
import { Picture } from "astro:assets";
import heroImage from "/public/logo.svg";
// import Link from "@components/ui/link.astro";
//import { Icon } from "astro-icon";
---

<main class="pb-8 pt-8 md:pt-24 md:pb-24">
  <div class="flex flex-col gap-1 md:gap-3 items-center ">
    <a href="/#features" class="animate-pulse [animation-duration:5s] opacity-5">
      <Picture
        src={heroImage}
        alt="Digital concepts"
        widths={[800, 800, 800]}
        sizes="(max-width: 800px) 100vw, 620px"
        loading="eager"
        format="avif"
      />
    </a>
    <div >
      <!-- <h1
        class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
        No more accrocchi!
      </h1> -->
      <h1 class="text-4xl lg:text-5xl font-bold tracking-tight text-center text-slate-600 max-w-4xl">
        Digital Twins,<br/> made simple 
      </h1>
      <p class="text-center mt-4 text-slate-600 max-w-4xl">
        Create and manage digital twins,<br/> using no-code interfaces and advanced visualization
      </p>
    </div>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <!-- <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
         GitHub Repo
      </Link> -->
    </div>
  </div>
</main>
