---
import { Picture } from "astro:assets";
import heroImage from "/public/logo.svg";
// import Link from "@components/ui/link.astro";
//import { Icon } from "astro-icon";
---

<main class="pb-8 md:pt-24 md:pb-24">
  <div class="flex flex-col gap-3 items-center ">
    <div class="animate-pulse [animation-duration:5s] opacity-5">
      <Picture
        src={heroImage}
        alt="Digital concepts"
        widths={[800, 800, 800]}
        sizes="(max-width: 800px) 100vw, 620px"
        loading="eager"
        format="avif"
      />
    </div>
    <div >
      <!-- <h1
        class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
        No more accrocchi!
      </h1> -->
      <p class="text-lg text-center mt-4 text-slate-600 max-w-xl">
        At Dualistic, we advocate simplicity and prioritize workplace wellbeing. 
        Our next-gen Digital Twin platform prioritizes easiness and human-centric design.
      </p>
    </div>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <!-- <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
         GitHub Repo
      </Link> -->
    </div>
  </div>
</main>
