---
export interface Props {
  id?: string,
  class?: string;
  isLast?: boolean;
}

const { id: id, class: className, isLast = false } = Astro.props;
---

<div 
  id={id}
  class:list={[
    "flex flex-col",
    "md:snap-start md:scroll-mt-20 md:mt-20 pb-5 md:pb-[15vh]",
    isLast ? "min-h-fit" : "min-h-screen",
    className
  ]}>
  <slot />
</div>
