---
export interface Props {
  id?: string,
  class?: string;
  isLast?: boolean;
}

const { id: id, class: className, isLast = false } = Astro.props;
---

<div 
  id={id}
  class:list={[
    "flex flex-col",
    "md:snap-start scroll-pt-10 md:scroll-pt-36 pt-10 md:pt-36 pb-16 md:pb-52",
    isLast ? "min-h-fit" : "min-h-screen",
    className
  ]}>
  <slot />
</div>
