---
export interface Props {
  id?: string,
  class?: string;
  isLast?: boolean;
}

const { id: id, class: className, isLast = false } = Astro.props;
---

<div 
  id={id}
  class:list={[
    "flex flex-col",
    "md:snap-start scroll-mt-10 md:scroll-mt-36 mt-10 md:mt-36 pb-5 md:mb-52",
    isLast ? "min-h-fit" : "min-h-screen",
    className
  ]}>
  <slot />
</div>
