---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import "../styles/global.css";
import WaveBackground from "@components/waveBackground.astro";

export interface Props {
  title: string;
  enableScrollSnap?: boolean;
  description?: string;
  image?: string;
  author?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const { title, enableScrollSnap = false, description, image, author } = Astro.props;

const makeTitle = title ? title + " | " + "Dualistic" : "Dualistic";
const defaultDescription = "Digital Twins made simple. Create and manage digital twins, \
  using no-code interfaces and advanced visualization.";
const defaultImage = new URL("/logo_no_dual.png", Astro.site).toString();
const seoDescription = description || defaultDescription;
const seoImage = image ? new URL(image, Astro.site).toString() : defaultImage;

---

<!DOCTYPE html>
  <!-- Add scroll smooth always, snapping on prop condition and only for larger screens -->
  <html 
    lang="en"
    class:list={[
        "bg-white",
        "scroll-smooth",
        enableScrollSnap && "lg:snap-y lg:snap-proximity"
      ]}
  >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo_no_dual.svg" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={makeTitle}
      description={seoDescription}
      canonical={canonicalURL}
      twitter={{
        creator: "@dualistic_twin",
        site: "@dualistic_twin",
        card: "summary_large_image",
        image: seoImage,
        description: seoDescription,
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: makeTitle,
          image: seoImage,
        },
        image: {
          alt: title || "Dualistic",
        },
        optional: {
          description: seoDescription
        }
      }}
    />
  </head>
  <body >
    <Navbar />
    <slot />
    <WaveBackground variant="white" size={0.5}/>
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
