---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import "../styles/global.css";

export interface Props {
  title: string;
  enableScrollSnap?: boolean;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/logo.svg",
  Astro.site
).toString();

const { title, enableScrollSnap = false } = Astro.props;

const makeTitle = title
  ? title + " | " + "Dualistic"
  : "Dualistic";

---

<!DOCTYPE html>
  <!-- Add scroll smooth always, snapping on prop condition -->
  <html 
    lang="en"
    class:list={[
        "bg-linear-to-br from-purple-50 to-purple-200",
        "scroll-smooth",
        enableScrollSnap && "snap-y snap-proximity"
      ]}
  >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo_no_dual.png" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={makeTitle}
      description="Dualistic is a startup to ease Digital Twin development"
      canonical={canonicalURL}
      twitter={{
        creator: "@dualistic_twin",
        site: "",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Dualistic`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Dualistic Homepage Screenshot",
        },
      }}
    />
  </head>
  <body >
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
